@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Spline Sans Mono', monospace;;
}

.App {
  background: url('./assets/images/app-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}